*, :before, :after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

a,a:focus,a:hover{
    color:#C98D00;
}

@media(min-width:768px){
    .header{
        float:right;
    }
    .mastfoot-inner{
        float:right
    }
}

@media(min-width:768px){
    .header{
        position:fixed;
        top:0
    }
    .mastfoot-inner{
        position:fixed;
        bottom:0
    }
    .header,.mastfoot-inner,.container{
        width:100%
    }
}

@media(min-width:992px){
    .header,.mastfoot-inner,.container{
        width:700px}
}


/* body and body* set background color and font size*/
body {
  font-size: 150%;
  line-height: 1.8em;
  background: #052527;
  margin: 30px;
}

/* below controls nav menu & border above it */
* header#header nav ul li {
  border-top: 1px solid #C98D00;
  list-style-type: none;
  display: block;
}
nav a {
    color: #C98D00;
}

nav {
    position: fixed;
}

/* below controls navigation sub-menues */
header#header nav #primary li ul {
  display: none;
}
/* below controls nav menu lines */
header#header nav #primary li:hover,
header#header nav #primary li.active {
  border-color: #DCB65C;
  color: #DCB65C;
}

/* below gives sub-menues display */
header#header nav #primary li:hover ul,
header#header nav #primary li.active ul {
  display: block;
  padding: 0;
}

/* below gives menu color when hovering */
header#header nav #primary li:hover > a,
header#header nav #primary li.active > a {
  color: #DCB65C;
}

/* controls menu bar sizing and layout */
*.row > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 10px;
}

.span2 {
  width: 150px;
}

div.middle {
    padding: 15px;
    position: absolute;
    right: 15px;
    top: 60px;
}

.name {
    font-size: 35px;
    line-height: 0.7;
    text-align: right;
    color: #C98D00;
    margin-top: 25rem;
}



.position {
    font-size: 15px;
    margin: 5px;
    line-height: 0.7;
    text-align: right;
    color: #C98D00;
    margin-top: 20px;
    margin-bottom: 25rem;
}

div.mastfoot {
  position: absolute;
  text-align: center;
  bottom: 0;
  border-top: 1px solid white;
  border-color: #C98D00;
  left: 10px;
  color: #C98D00;
  width: 100%; 
  margin-top: 10px;
  position: fixed;
}

footer a {
    color: #C98D00;
}

footer a:hover, a:active {
    color: #DCB65C;
}

footer {
    margin-top: 10px;
}