*, :before, :after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

a,a:focus,a:hover{
    color:#fff;
}

@media(min-width:768px){
    .header{
        float:right;
    }
    .mastfoot-inner{
        float:right
    }
}

@media(min-width:768px){
    .header{
        position:fixed;
        top:0
    }
    .mastfoot-inner{
        position:fixed;
        bottom:0
    }
    .header,.mastfoot-inner,.container{
        width:100%
    }
}

@media(min-width:992px){
    .header,.mastfoot-inner,.container{
        width:700px}
}

html,body{
    height:100%;
    background-color:darkslategrey;
}

 div#container.container{
     margin: 0 0 0 250px;
     font-family: arial, sans-serif;
     height: 85%;
} 

 .nav#menu {
     position: fixed;
     text-align: right;
     display: inline-block;
     font-size: 1.25em;
 }

 .ul#primary.row {
     position: fixed;
     text-align: right;
     display: inline-block;
     font-size: 1.25em;
 }

ul#secondary{
    position: relative;
    display: none;
}